/* Bandeau de navigation */
.navbar {
  display: flex;
  justify-content: space-between; /* logo à gauche, liens à droite */
  align-items: center;
  background-color: #007bff; /* bleu */
  color: white;
  padding: 20px 20px;
  margin:0%;
  font-family: Arial, sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}


body {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg"); 
    background-position: center center; 
    background-size: cover;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 0%;
    
}
p {
    color: white;
    text-align: center;
    margin-top: 0%;
}

#assets-list {
   display: flex;
   justify-content: space-around;
   align-items: stretch;
   justify-content: space-between;
}

#div1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: white;
    margin-left:50vh;
}

#div2, #div1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: stretch;
     background-color: white;
    margin-right: 50vh;
}

.train {
  display: flex;
  flex-direction: column; /* image au-dessus du texte */
  align-items: center;    /* centre horizontalement */
  gap: 20px;              /* espace entre l'image et l'input */
  margin: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;

}

.train img  {
  width: 150px;
  height: auto;
  margin-bottom: 20px;   /* 👈 espace sous l'image */
}



.train input {
  width: 80%;             /* pour ne pas prendre toute la largeur */
  padding: 8px;
  font-size: 14px;
  text-align: center;
}
