/* Bandeau de navigation */
.navbar {
  display: flex;
  justify-content: space-between; /* logo à gauche, liens à droite */
  align-items: center;
  background-color: #007bff; /* bleu */
  color: white;
  padding: 20px 20px;
  margin:0%;
  font-family: Arial, sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}


body {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg"); 
    background-position: center center; 
    background-size: cover;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

h2 {
    color: white;
    text-align: center;
    margin-top: 0%;
    
}
p {
    color: white;
    text-align: center;
    margin-top: 0%;
}

#assets-list {
   display: flex;
   justify-content: center;
   align-items: stretch;
   justify-content: space-between;
}

#div1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: white;
    margin-left:50vh;
}

#div2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: stretch;
     background-color: white;
    margin-right: 50vh;
}